.back-button {
    margin: 3%;
}

.details {
    color: #0A8A87;
    font-size: 16px;
    padding-top: 0%;

}

figcaption {
    margin: 0%;
}

figure {
    justify-content: center;
}

.figure-img {
    margin: auto;
    margin-bottom: 3%;
}

.label {
    color: #000;
    margin: 8px 0px;
}

.movie {
    background-color: #fff;
    padding: 7%;
    margin: auto;
    margin: 3% auto;
    max-width: 700px;
}

.value {
    color: #000;
}