.filter-group {
    width: 70%;
    margin: 5% auto 2%;
}

.filter {
    margin: 0%;
    display: inline-block;
    width: 75%;
    border-radius: 0px;
    font-size: 16px;
    border-color: #BD2099;
    color: #BD2099;
    background-color: #172742;
    padding-left: 2%;
}

select.form-control {
    width: 25%;
    padding-left: 3%;
    color: #fff;
    background-color: #BD2099;
}

select.form-control:hover,
select.form-control:focus {
    border-color: #BD2099;
    background-color: #172742;
    color: #BD2099;
}

input.form-control:focus {
    border-color: #BD2099;
    box-shadow: none;
}

option {
    background-color: #172742;
    color: #BD2099;
}

@media all and (max-width: 620px) {
    .filter-group {
        width:100%;
        min-width: 320px;
    }

    .filter {
        width: 70%;
    }

    select.form-control {
        width: 30%;
    }
}